---
import DefaultLayout from '#/layouts/default';
---

<DefaultLayout>
  <div class="min-h-[calc(100vh-6rem)] flex items-center justify-center">
    <div class="text-lg text-center space-y-4">
      <p>你好，我是 Sophye。</p>
      <p>请见<a href="/zh/guides/" class="text-primary-600">文档</a>了解更多。</p>
    </div>
  </div>
</DefaultLayout>
